@charset "utf-8"; 
#wrap{width: 1400px; height: 1000px; margin: 0 auto;}

#wrap>p>a{display: block; margin: 0 auto; width: 1280px; height: 1000px; background-image: url(img/HES_title_%20text_image_sandcolor_wticker.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;}



